accelerate
transformers
diffusers[torch]
ftfy
albumentations
opencv-python
einops
bitsandbytes
lion-pytorch
schedulefree
pytorch-optimizer
prodigy-plus-schedule-free
prodigyopt
tensorboard
safetensors
altair
easygui
toml
voluptuous
huggingface-hub
imagesize
numpy
requests
timm
fairscale
tensorflow
onnx
onnxruntime-gpu
onnxruntime
protobuf
open-clip-torch
rich
sentencepiece
